includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - database
        - tests
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
