includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - src
        - database
    checkOctaneCompatibility: true
    checkModelProperties: true

    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
